

[sasl]
enabled  = true
port     = smtp,ssmtp,submission,imap2,imap3,imaps,pop3,pop3s
filter   = postfix-sasl
logpath  = /var/log/maillog
action   = iptables-allports[name=sasl]
           sendmail-whois-lines[name=sasl, logpath=/var/log/maillog]
           influxdb[name=sasl]
bantime  = 604800  ; 1 week
findtime = 86400   ; 1 day
maxretry = 3
